// ────────────── Layout Settings ──────────────

layout {
  
    gaps 8
    center-focused-column "never"
    empty-workspace-above-first
        
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
}

default-column-width   { proportion 0.5; }

focus-ring {
        width 1
active-color "#5B5C9D"
// inactive-color "#958379"
active-gradient from="#5B5C9D" to="#B36897" angle=45 relative-to="workspace-view" in="oklch longer hue"
inactive-gradient from="#a68a88" to="#09040d" angle=45 relative-to="workspace-view" in="oklch longer hue"
        
}


border {
        width 1
active-color "#5B5C9D"
// inactive-color "#958379"
active-gradient from="#5B5C9D" to="#B36897" angle=45 relative-to="workspace-view" in="oklch longer hue"
inactive-gradient from="#a68a88" to="#09040d" angle=45 relative-to="workspace-view" in="oklch longer hue"
urgent-color "#F78F75"

}

 
shadow {
       on
       draw-behind-window false
       softness 30
       spread 5
       offset x=0 y=5
       color "#0007"
}

struts {
        // left 5
        // right 5
        // top 5
        // bottom 5
    }
}
