// ────────────── Window Rules ──────────────

// Global window appearance
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

// Application-specific rules
window-rule { 
    match app-id=r#""#
    match app-id=r#"Alacritty"#
    open-floating false
}

window-rule {
    match app-id=r#"firefox"#
    match app-id=r#"google-chrome"#
    match app-id=r#"Papers"#
    open-maximized true
}


// File dialogs - Open/Save/Select
window-rule {
    match title=r#".*(Open|Save|Select).*"#
    open-floating true
    default-column-width { proportion 0.0; }
    max-width 800
    max-height 1000
}

// window-rule {
//  match title=r#".*File.*"#
//  open-floating false
//  default-column-width { proportion 0.0; }
 
 // }

window-rule {
    match app-id=r#"org\.gtk\.FileChooserDialog"#
    open-floating true
    default-column-width { proportion 0.0; }
    max-width 800
    max-height 1000
}


// System dialogs
window-rule {
    match title=r#".*(Dialog|Properties|Preferences|Settings|Rename).*"#
    match title=r#".*Authentication.*"#
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
}

// Notification and system utilities
window-rule {
    match app-id=r#"polkit-gnome-authentication-agent-1"#
    match app-id=r#"nm-connection-editor"#
    match app-id=r#"blueman-manager"#
    match app-id=r#"pavucontrol"#
    match app-id=r#"gcr-prompter"#
    match app-id=r#"python3$" title="^Buzz$"#
    match app-id=r#"xdg-desktop-portal-gtk"#
    match title=r#"gtk*"#
    match app-id=r#"GParted"#
    match app-id=r#"nwg-look"#
    match app-id=r#"qt6ct"#
    match app-id=r#"qt5ct"#
    match title=r#"popup title with spaces"#
    match title=r#"zoom"#
    match title=r#"Picture-in-Picture"#
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
     
    open-floating true
}

// Inactive window transparency
window-rule {
    match is-active=false
    opacity 1.0
}
